*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(194, 218, 226);
    padding: 30px;
    box-sizing: border-box;
}
.wrapper>section:nth-of-type(1)>section{
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: green;
    border: 2px solid green;
    margin-bottom: 10px;
}

.wrapper>section:nth-of-type(1)>form>p{
font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 5px 5px 5px gray;
}
.wrapper>section:nth-of-type(1)>form>input{
    display: block;
    width: 80%;
    height: 45px;
    box-sizing: border-box;
    padding-left: 8px;
    margin: 10px auto;
    border: 0;
    border-bottom: 2px solid darkblue;
    background-color: rgb(194, 218, 226);
   font-size: 20px;
   transition: all 50ms linear;
}
.wrapper>section:nth-of-type(1)>form>input:focus{
    outline: none;
    border-bottom: 4px solid darkblue;
}
button{
    width: 80%;
    height: 45px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
    background-color: gainsboro;
}

button:focus{
    background-color: rgba(128, 128, 128, 0.404);
}
